.tabletitle {
    padding-top: 6px;
    background: skyblue;
}

.tablecontent {
    padding: 3px;
    padding-bottom: 3px;
    background-color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid #444444;
}

td, th{
    text-align: center;
    border: 1px solid #444444;
}

.move {
    cursor: pointer;
}