@charset "utf-8";

/* ==== 메뉴제목==== */

.title {
  position: relative;
  list-style:none;
  float: left;
  margin: 0; padding:0;
  text-decoration: none;
  color: #fff;
  font-size: 210%; 
  font-weight: 600;
}



/* ==== 로그인 폼 부분==== */

.loginTable {
    width: 100%;
    height: 65vh; 
    padding: 1% 2% 2% 1%;
}

.loginTableWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 60vh;
    margin-top: 2%;
}

.loginWrap {
    background-color: white;
    margin:0 auto;
    width: 17%;
    height: 40vh;
    border-radius: 7%;
    padding: 4.5% 3.5%;
}


.loginInput {
    text-align: left;
    padding: 0 0 4% 0;
    width: 100%;
}


/* input박스 스타일  */
.loginInput input{
  border-radius: 10px;
  border: 1.5px solid rgb(181, 181, 181);
  width: 100%;
  height: 5.5vh;
}

.loginInput input[placeholder]{
  font-size: 100%;
}

.loginInput input::placeholder {
  color: rgb(196, 196, 196);
}


/* button 스타일  */

.btnContent {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15%;
}

.b1{
  position:absolute;
  width: 100%;
  top:-36%;
}

/* 로그인 button */
.logBtn1 {
  width: 17.5%;
  height: 6vh;
  color: white;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  background-color: #C33740;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  margin-right: 83%;
  margin-bottom: 0.3%;
}

.logBtn1:disabled {
  background-color: #69433A;
  color: white;
}

.secondBtn{
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.9%;
}

.b2{
  width: 8.5%;
  height: 6vh;
}

.b3{
  width: 8.5%;
  height: 6vh;
}

/* ID/PW찾기 button */
.logBtn2 {
  width: 100%;
  height: 6vh;
  color: white;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  background-color: #69433A;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  margin-left:-2.5%;
}

/* 회원가입 button */
.logBtn3 {
  width: 100%;
  height: 6vh;
  color: white;
  text-align: center;
  font-size: 100%;
  border-radius: 10px;
  background-color: #69433A;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  margin-right: 80%;
  margin-left: 3.5%;
}


/* 네이버 로그인  */
.logBtn4 {
  width: 17.5%;
  height: 5vh;
  color: black;
  text-align: center;
  font-size: 90%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  margin-right: 83%;
  margin-bottom: 0.4%;
}

.logBtn4 img{
  float:left;
}

/* 카카오 로그인  */
.logBtn5 {
  width: 17.5%;
  height: 5vh;
  color: black;
  text-align: center;
  font-size: 90%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(181, 181, 181);
  cursor: pointer;
  margin-right: 83%;
}

.logBtn5 img{
  float:left;
}

.snsText {
  border-left: 1px solid rgb(222, 222, 222);
  width:80%;
  margin-left: 17%;
  text-align: center;
  line-height: 5vh;
}
